
body{
  background-image: url('img/backgrounds/LolBackground.jpg');
  background-repeat: repeat;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-shadow: .5px .5px 2px rgb(255, 255, 252);
}
#body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-shadow: .5px .5px 2px rgb(255, 255, 252);
  align-items: center;
  align-content: center;
}

ul {
  text-shadow: .5px .5px 2px rgb(255, 255, 252);
  height: 40px;
  width: 100%;
  margin: auto;
  text-align: center;
  align-items: center;
}
ul li a {
  text-align: center;
  color: rgb(0, 0, 0);
  float: none;
}
li{
  display: inline;
  align-items: center;
}

li a:hover {
  color: rgb(97, 32, 218);
  text-decoration: none;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 10px;
  font-size: 25px;
  text-align: center;
}

#page-name {
  color: rgb(255, 255, 255);
  opacity: .8;
  padding: 5px;
  font-size: 40px;
  letter-spacing: 2px;
  text-align: center;
  margin: 0px;
}

.champions-container {
  justify-content: space-evenly;
  align-content: space-between;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  opacity: .8;
  margin: 15px;
  width: 300px;
  text-align: center;
  height: auto;
  padding: 1px;
}
.pictures {
  width: 120px;
  height: 120px;
  margin: 0px;
}
#champions-container {
  justify-content: center;
  display: grid;  
  grid-template-columns: auto;
  grid-gap: 3px;
  
}
.page{
  display: grid;  
  grid-template-columns: auto;
  grid-gap: 3px;
}

.user-greeting {
  margin: auto;
  margin-top: 10px;
  width: 60%;
  padding: 30px;
  font-size:  1em;
}

#users-container {
  justify-content: center;
  display: grid;  
  grid-template-columns: auto;
  grid-gap: 3px;
  
}
#music {
  text-align: center;
}
iframe {
  margin-top: 30px;
}
form{
  height: 50px;
  text-align: center;
  align-items: center;
  margin: 40px;
}

input{
  width: 150px;
  background-color: rgb(0, 0, 0);
  opacity: .8;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(82, 27, 211);
  box-shadow: 0 2px 4px rgb(82, 27, 211), 0 6px 20px rgb(82, 27, 211);
}
select{
  background-color:rgb(0, 0, 0);
  opacity: .8;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(82, 27, 211);
  box-shadow: 0 2px 4px rgb(82, 27, 211), 0 6px 20px rgb(82, 27, 211);
}
label {
  color:rgb(0, 0, 0);
  font-weight: bold;
  font-size: 20px;
  margin-left: 15px;
  background-color: rgb(255, 255, 255);
  opacity: .8;
}
#submit{
  color:rgb(255,255,255);
  background: rgb(82, 27, 211);
  opacity: .8;
  margin-left: 10px;;
}
#delete-button{
  background-color: black;
  opacity: .8;
  color:rgb(82, 27, 211);
  display: flex;
  float: right;
}

#new-champion-form {
  background: rgb(0, 0, 0);
  opacity: .8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 45vh;
  width: 20%;
  margin: auto;
  overflow: hidden;
  border-radius: 35px;
  font-size: 25px;
}

.hidden {
    display: none;
}