body {
  background: url("img/backgrounds/LolBackground.jpg"); 
  background-attachment: fixed;
  background-repeat: no-repeat; 
  background-size: cover;
}

h1, h2, h3, h4 {
  text-shadow: 2px 2px 5px rgb(1, 175, 255);
  color:#000000;
  font-family: Georgia, 'Times New Roman', Times, serif;
  float:center;
  align-items: center; 
}

li, ul {
  text-shadow: .5px .5px 2px rgb(255, 255, 252);
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #000000;
  font-weight: bold;
}

p {
  color: #000000;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Style the content */
.main-content {
  margin-left: 200px;
  padding-left: 0px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 50%;
    padding: 0 4px;
}
          
.column img {
    margin-top: 8px;
    vertical-align: middle;
}

.image-list-small {
  font-family: Palatino, serif;
  margin: 0 auto;
  text-align: center;
  max-width: 3000px;
  padding: 0;
}

.image-list-small li {
  display: inline-block;
  width: 120px;
  margin: 0 12px 30px;
}

/* Photo */
.image-list-small li > a {
  display: block;
  text-decoration: none;
  background-size: cover;
  background-repeat: no-repeat;
  height: 120px;
  margin: 0;
  padding: 0;
}

.image-list-small .details {
  margin-top: 2px;
}

/* Details */
.image-list-small .details h3 {
  display: block;
  font-size: 12px;
  margin: 0 0 3px 0;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.image-list-small .details h3 a {
  color: #000000;
  text-decoration: none;
}

.image-list-small .details .tagline {
  display: block;
  color: #312f2f;
  font-size: 10px;
  font-weight: normal;
  margin: 0;
}